
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
 
<h2>Commentaire</h2>
<%= render @article.comments %>
 
<h2>Ajouter un commentaire :</h2>
<%= render 'comments/form' %>

<h2>Notes</h2>
<p>
<% @article.ratings.each do |rating| %>
    <%=  rating.score %>/5  
<% end %>
</p>
<p>
<strong>Moyenne:</strong>
<!-- @article.ratings.size.to_f --> 
    <%=  @article.ratings.sum(:score) / @article.ratings.size.to_f %>
</p>
	 
<h2>Ajouter une note:</h2>
<%= form_with(model: [ @article, @article.ratings.build ], local: true) do |form| %>
  <p>
    <%= form.label :score %><br>
	<%= form.radio_button :score, '1' %> 1/5<br />
    <%= form.radio_button :score, '2' %> 2/5<br />
    <%= form.radio_button :score, '3' %> 3/5<br />
    <%= form.radio_button :score, '4' %> 4/5<br />
    <%= form.radio_button :score, '5' %> 5/5<br />
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
 
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
